@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/rubik-light.woff2") format("woff2"),
    url("../fonts/rubik-light.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/rubik-medium.woff2") format("woff2"),
    url("../fonts/rubik-medium.woff") format("woff");
}
