$index: calc(1vw + 1vh);
$gutter: 30px;
$side-small: 26;
$side-big: 36;
$depth: 2900px;
$transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);

$basic-black: #000000;
$basic-dark: #070300;
$basic-white: #ffffff;
$bg-color-orange: #d38440;
