$index: calc(1vw + 1vh);
$gutter: 30px;
$side-small: 26;
$side-big: 36;
$depth: 2900px;
$transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);

// Colors <<<<<

$basic-black: #000000;
$basic-dark: #0c0500;
$basic-white: #ffffff;
$bg-orange: #d38440;
$bg-gray: #d7e5df;
$bg-dark-gray: #2f2c28;
$bg-blue: #3a9fc9;
$bg-dark-blue-gray: #096cad;
$bg-brown: #a9663b;
$bg-dark-brown: #7d412f;
$btn-decor: #ffce96;


// Viewports <<<<<

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
