.feedback {
  display: flex;
  flex-direction: column;
}

.feedback__list {
  padding: 0;
  list-style: none;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    .feedback__item:nth-child(3),
    .feedback__item:nth-child(4) {
      grid-column: span 2;
    }
  }
}
