.feedback {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba($basic-dark, 0.4);
    box-shadow: 0 0 10px $basic-dark;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &::before {
    content: "";
    z-index: 3;
    position: absolute;
    left: 45%;
    top: 30%;
    width: 10px;
    height: 10px;
    background-color: $bg-blue;
    border: 2px solid white;
    animation-name: loading;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  &--sending::after,
  &--sending::before {
    opacity: 1;
    visibility: visible;
  }
}

.feedback__list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .feedback__item:nth-child(3),
    .feedback__item:nth-child(4) {
      grid-column: span 2;
    }
  }
}

.feedback__btn {
  position: relative;
  background-color: transparent;
  border: 2px solid $btn-decor;
  padding: 10px 20px;
  width: 100%;
  max-width: 180px;
  color: $btn-decor;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  transition: color 0.5s ease, background-color 1.7s ease;

  @media (max-width: $mobile-width-only) {
    padding: 6px 10px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $btn-decor;
    z-index: -1;
    height: 100%;
    width: 0;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    transition: width 0.6s ease;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    background-color: $btn-decor;
    color: $basic-dark;
  }
}
