.field-item {
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 15px;
  }
}

.field-item__input {
  @media (max-width: $mobile-width-only) {
    min-height: 20px;
    padding-left: 3px;
  }

  &--area {
    @media (max-width: $mobile-width-only) {
      min-height: 70px;
    }

    resize: none;
    min-height: 140px;
  }

  width: 100%;
  min-height: 35px;
  font-size: 1rem;
  line-height: 1.1;
  border: 2px solid rgba($bg-blue, 0.3);
  transition: all 0.5s ease 0s;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  color: rgba($bg-blue, 0.7);

  &:hover,
  &:focus {
    border-color: $bg-blue;
  }

  &:hover~.field-item__name,
  &:focus~.field-item__name,
  &:not(:placeholder-shown)~.field-item__name {
    font-size: calc($index * 0.4);
    transform: translate(12px, -9px);
    background-color: $bg-blue;
    color: $basic-dark;
    padding: 3px 5px;

    @media (max-width: $mobile-width-only) {
      transform: translate(8px, -5px);
    }
  }

  &--error {
    border-color: $invalid-color;
    box-shadow: 0 0 10px $invalid-color;
  }
}

.field-item__name {
  font-size: calc($index * 0.7);
  text-transform: uppercase;
  color: rgba($bg-blue, 0.4);
  position: absolute;
  pointer-events: none;
  left: 0;
  padding: 8px;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 1;
  transition: all 0.5s ease;

  @media (max-width: $mobile-width-only) {
    padding: 5px;
  }
}
