.field-item {
  font-size: calc($index * 0.9);
  display: flex;
  flex-direction: column;
}

.field-item__area {
  resize: none;
}

.field-item__input {
  min-height: 30px;
  padding: 0;
  line-height: 1;
  border: none;
  transition: min-height 0.5s ease-out 0s;
}

.field-item__select {
  font-size: 20px;
  background-color: $basic-dark;
  color: $bg-brown;

  option:focus {
    background-color: $basic-dark;
    color: $basic-white;
  }

  .test1:hover {
    color: $bg-brown;
    font-size: 40px;
  }
}
