.main-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px 50px 30px;
}

.main-footer__docs {
  text-align: center;
}

.main-footer__docs-title {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 1;
  letter-spacing: 0.5px;
}

.main-footer__copyright {
  align-self: flex-end;
}

.main-footer__copyright-text {
  font-weight: 300;
  font-size: calc($index * 0.6);
}

.main-footer__copyright-text-symbol {
  color: $bg-dark-blue-gray;
}
