.main-header__content {
  position: fixed;
  z-index: 5;
  right: 20px;
  top: 20px;

  @media (max-width: $mobile-width-only) {
    right: 10px;
    top: 10px;
  }
}

.main-header__button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba($basic-dark, 0.5);
  box-shadow: 2px 2px 9px 1px rgba($basic-white, 0.3),
    -2px -2px 9px 1px rgba($basic-white, 0.3);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 9px 1px rgba($basic-white, 0.7),
      -2px -2px 9px 1px rgba($basic-white, 0.7);
  }
}

.main-header__button-animation {
  display: block;
  width: 3px;
  height: 10%;
  background-color: $basic-white;
  border-radius: 3px;
  animation: mp3 1s linear infinite;
  transition: background-color 0.3s ease;

  &:not(:last-child) {
    margin-right: 2px;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }

  &:nth-child(4) {
    animation-delay: 0.6s;
  }

  &:nth-child(5) {
    animation-delay: 0.8s;
  }
}

.main-header__button--pause {
  .main-header__button-animation {
    background-color: rgba($basic-white, 0.5);
  }
}
