.page {
  font-family: "Rubik", "Arial", sans-serif;
  height: 100%;
  font-size: calc($index * 0.9);
  line-height: 1.8;
}

.page__body {
  background-color: $basic-dark;
  color: $basic-white;
  min-width: 320px;
  min-height: 100%;
  height: $depth;
  margin: 0 auto;
}
