.tools {
  position: absolute;
  padding: 10px;
  // top: 5vh;
  left: 50%;
  transform: translate(-50%);
}

.tools__title {
  line-height: 1.1;
  font-weight: 300;
  font-size: calc($index * 1.5);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.tools__list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 0;

  display: grid;
  justify-items: center;
  align-items: center;
  // grid-template-columns: repeat(7, 1fr);
  // grid-template-rows: repeat(3, auto);
  grid-template-areas:
    ". ht . cs . js ."
    "gi . sa . no . gu"
    ". ph . fi . il ."
  ;

  @media(min-width: $tablet-width) {
    gap: 15px;
  }
}

.tools__img {
  width: 100%;
  // height: 50px;
  // max-width: 100px;
}

.tools__item--ht {
  grid-area: ht;
}

.tools__item--cs {
  grid-area: cs;
}

.tools__item--js {
  grid-area: js;
}

.tools__item--gi {
  grid-area: gi;
}

.tools__item--sa {
  grid-area: sa;
}

.tools__item--no {
  grid-area: no;
}

.tools__item--gu {
  grid-area: gu;
}

.tools__item--ph {
  grid-area: ph;
}

.tools__item--fi {
  grid-area: fi;
}

.tools__item--il {
  grid-area: il;
}
